# OSX
#
.DS_Store

# Android/IntelliJ
#
app/build/generated
app/build/intermediates
app/build/kotlin
app/build/kotlinToolingMetadata
app/build/tmp
app/build/outputs/logs
app/build/outputs/native-debug-symbols
app/build/outputs/sdk-dependencies

.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
